/* Global Reset */

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f4f6;
  color: #111827;
}

/* Smooth Rendering */
html {
  scroll-behavior: smooth;
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
button {
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Inputs */
input,
select {
  outline: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}